@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #0c0c0c; }
  body header {
    grid-area: header; }
    body header nav  {
      background-color: rgb(233, 17, 17);
      margin: 2vh;  }
  body main {
    grid-area: mainn;
    padding: 3vh 2vh 3vh 3vh;
    color: white;
    background-color: black; }
  body footer {
    grid-area: footerr;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-color: #0c0c0c;
    color: white;
    padding: 2vh 2vh 2vh 2vh; }
    body footer p {
      font-size: 1vw; }
    body footer ul {
      padding-left: 0; }
    body footer li {
      display: inline; }

h1 {
  text-align: center;
  font-family: "Poppins"; }

h2 {
  text-align: center;
  font-family: "Poppins";
  font-size: 3vw; }

p {
  font-size: 2vw;
  margin: 2vw;
  justify-content: center; }

a {
  text-decoration: none;
  color: #fafafa; }
  a:hover {
    color: #fafafa; }

h3 {
  text-align: center;
  font-family: "Poppins";
  font-size: 4vw; }

.contenedor {
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header"
 "mainn"
 "footerr"; }

.btn {
  background-color: #323232;
  border-radius: 10vw;
  margin: 2vw;
  padding: 0vw 1vw 0vw 1vw;
  border: 0ch; }

.logo {
  height: 5vw; }

.hijo {
  text-align: center;
  padding: 3vh; }

.flexible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

#marcas {
  padding-top: 3vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; }

.marca {
  width: 30vw;
  padding: 5vw; }

.m {
  display: flex;
  flex-direction: column; }
  .m:hover {
    transform: scale(1.1); }

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.ser {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding-top: 5vw; }

form {
  padding: 6vw; }
  form input {
    display: flex;
    justify-content: center;
    margin: auto; }

fieldset {
  background-color: #0c0c0c;
  padding: 0vh; }

label {
  display: flex;
  justify-content: center;
  padding: 1vh; }
  label input {
    display: flex;
    justify-content: center; }

legend {
  display: flex;
  justify-content: center; }

.linea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap; }
  .linea input {
    padding: 0;
    margin: 0; }

.linea2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }
  .linea2 input {
    padding: 0;
    margin: 0; }

@media (max-width: 680px) {
  p {
    font-size: 5vw;
    text-align: center; }
  .cool {
    width: 50vw;
    height: auto; }
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center; }
  iframe {
    width: 70vw;
    height: auto; }
  #res {
    display: flex;
    flex-direction: row;
    align-items: center; }
  input[type="submit"] {
    margin: 3vw;
    margin-left: 45%; }
  footer {
    display: grid;
    grid-template-columns: 1fr !important;
    justify-content: center; }
    footer img, footer p {
      display: none; }
  #marcas {
    padding-top: 3vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; }
  .ser {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding-top: 5vw; }
  .linea2 {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0 10% 0 10%; }
    .linea2 label {
      text-align: center; } }

#carrito {
  background-color: #222222; }

#productos h5 {
  margin-left: 3vw;
  margin-left: 5vw; }

#productos img {
  width: 10vw; }

#productos div {
  margin-top: 1vw;
  display: flex;
  flex-basis: 20%;
  align-items: center; }

#car {
  background-color: #0c0c0c;
  border: 0ch; }

.cerrado {
  display: none; }

.abierto {
  display: block;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
